<template name="HomePublic">
	<div class="container">
		<div id="page_menu" class="pull-right">
		</div>
	</div>
	{{> HomePublicHomeJumbotron}}
</template>

<template name="HomePublicHomeJumbotron">
	<div class="card ">
		<div class="card-content">
			<p id="jumbotron-text">
				<b>This is example application built with <a href="http://www.meteorkitchen.com" target="_blank">meteor-kitchen</a> code generator without manual coding.</b><br />It demonstrates simple application with user account system and admin panel.<br />Source code (input file for generator) is <a href="https://github.com/perak/kitchen-examples/tree/master/example-materialize" target="_blank">here</a>.
			</p>
		</div>
		<div class="card-action white-text">
			<p id="jumbotron-button">
				<a href="#" class="btn white-text btn-primary btn-lg" role="button">
					Continue &raquo;
				</a>
			</p>
		</div>
	</div>
</template>

