<template name="HomePublic">
	<div class="container">
		<div id="page_menu" class="pull-right">
		</div>
	</div>
	{{> HomePublicHomeJumbotron}}
</template>

<template name="HomePublicHomeJumbotron">
	<div class="card ">
		<div class="card-content">
			<p id="jumbotron-text">
				<b>Welcome!</b>
			</p>
      <p>This is Luke's tool for UVa's spring 2016 section of ANTH 5401.</p>
      <p>Please make an account.</p>
		</div>
		<div class="card-action white-text">
			<p id="jumbotron-button">
				<a href="#" class="btn white-text btn-primary btn-lg" role="button">
					Continue &raquo;
				</a>
			</p>
		</div>
	</div>
</template>

