<template name="Forms">
	<div class="row" id="title_row">
		<div class="col s12">
			<div id="page_menu" class="pull-right">
			</div>
		</div>
	</div>
	<div class="row">
		<div id="menu" class="col s2">
			<h2>
			</h2>
			{{> FormsSideMenu}}
		</div>
		<div id="subcontent" class="col s10">
			{{> yield region='FormsSubcontent'}}
		</div>
	</div>
</template>

<template name="FormsSideMenu">
	<ul id="menu-items" class="collection">
		<li id="menu-item-simple">
			<a class="collection-item {{menuItemClass 'forms.view'}}" href="{{pathFor 'forms.view'}}">
				<i class="material-icons left">
          view_list
				</i>
        View
			</a>
		</li>
    <li id="menu-item-simple">
			<a class="collection-item {{menuItemClass 'forms.concordance'}}" href="{{pathFor 'forms.concordance'}}">
				<i class="material-icons left">
          search
				</i>
        Concordance
			</a>
		</li>
		<li id="menu-item-simple">
			<a class="collection-item {{menuItemClass 'forms.add'}}" href="{{pathFor 'forms.add'}}">
				<i class="material-icons left">
          add
				</i>
        Add
			</a>
		</li>
	</ul>
</template>
