<template name="FormsAdd">
  <div class="container">
    <div class="row">
      <form id="#theForm" class="col s10" autocomplete="off">
        <!-- Chrome 47 on OSX El Capitan (at least)  doesn't honor autocomplete="off". So give it these inputs
             (which it will happily fill out, but are hidden from the user) and we get the same effect. -->
        <input style="display:none">
        <input type="password" style="display:none">

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">hearing</i>
            <input disabled id="phonemic" type="text" class="validate {{errorClass 'phonemic'}}">
            <label class="{{labelErrorClass 'phonemic'}}" data-error="Add at least one form.">
              Phonemic Transcription
            </label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mic</i>
            <input id="phonetic" type="text" class="validate {{errorClass 'phonetic'}}">
            <label class="{{labelErrorClass 'phonetic'}}" data-error="Add at least one form.">Phonetic Transcription</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">description</i>
            <input id="gloss" type="text" class="validate {{errorClass 'gloss'}}">
            <label data-error="Add a gloss." class="{{labelErrorClass 'gloss'}}">Gloss</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">label</i>
            <input id="tags" type="text" class="validate {{errorClass 'tags'}}">
            <label>Tags (comma-separated)</label>
          </div>
          <div class="input-field col s6" tabindex="-1">
            <i class="material-icons prefix">event</i>
            <input id="dateCollected" type="date" class="datepicker {{errorClass 'dateCollected'}}">
            <label id="datelabel">Date Collected</label>
          </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>

      </form>
      <div class="col s2">

      </div>
    </div>
  </div>
</template>