<template name="FormsView">
  <div class="container">
    <table class="striped">
      <thead>
      <tr>
        <th data-field="Phonemic">Phonemic</th>
        <th data-field="Phonetic">Phonetic</th>
        <th data-field="Gloss">Gloss</th>
        <th data-field="Tags">Tags</th>
        <th data-field="DateCollected">Date Collected</th>
      </tr>
      </thead>
      <tbody>
        {{#each forms}}
          <tr>
            <td><span class="ipa">{{phonemic}}</span></td>
            <td><span class="ipa">{{phonetic}}</span></td>
            <td>{{gloss}}</td>
            <td>{{tags}}</td>
            <td>{{dateCollected}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>